arviz
bambi
matplotlib
numpy
palmerpenguins
pandas
pymc
scikit-learn
scipy
seaborn
statsmodels
xarray

# Required for Quarto / Jupyter execution
jupyter
ipykernel
jupyterlab

# Recommended support packages
ipython
notebook

